#Backend exluded files
/backend/*
!/backend/src
!/backend/.env
#Frontend exluded files
/frontend/*
!/frontend/src
!/frontend/src
sendgrid.env


#Backend exluded files
/ft_transcendence-v2/backend/*
#Frontend exluded files
/ft_transcendence-v2/frontend/*
sendgrid.env
#Old
/old/backend/*
!/old/backend/src
!/old/backend/*.json

/old/frontend/node_modules
!/old/frontend/*.json
