.btn
{
  background-color: rgb(188, 74, 241);
}

.btn-danger {
  color: rgb(209, 13, 13);
}

.logo {
  width: 2.5%;
  height: 2.5%;
}
.btn-danger{
  background-color: red;
}

.left-sep{
	border-left: 1px solid #857c7c;
}
@media only screen and (max-width: 300px) and (min-width: 50px) {
	app-left-nav{
		padding: 0;
		width: 15%;
	}
	app-right-nav{
		padding: 0;
		width: 15%;
	}
	app-content{
		padding: 0;
		width: 70%;
	}
	app-right-nav:hover{
		position: absolute;
		right: 0;
		width:         50%;
		cursor: pointer;
		margin-left: 0;
	}
  }
  @media only screen and (max-width: 1000px) and (min-width: 301px) {
	app-left-nav{
		padding: 0;
		width: 10%;
	}
	app-right-nav{
		padding: 0;
		width: 10%;
	}
	app-content{
		padding: 0;
		width: 80%;
	}
	app-right-nav:hover{
		position: absolute;
		right: 0;
		width:         40%;
		cursor: pointer;
		margin-left: 0;
	}
  }

  @media only screen and (max-width: 1400px) and (min-width: 1001px) {
	app-left-nav{
		padding: 0;
		width: 8%;
	}
	app-right-nav{
		padding: 0;
		width: 8%;
	}
	app-content{
		padding: 0;
		width: 84%;
	}
	app-right-nav:hover{
		position: absolute;
		right: 0;
		width:         30%;
		cursor: pointer;
		margin-left: 0;
	}
  }
  @media only screen and (max-width: 30000px) and (min-width: 1401px) {
	app-left-nav{
		padding: 0;
		width: 5%;
	}
	app-right-nav{
		padding: 0;
		width: 5%;
	}
	app-content{
		padding: 0;
		width: 90%;
	}
	app-right-nav:hover{
		position: absolute;
		right: 0;
		width:         20%;
		cursor: pointer;
		margin-left: 0;
	}
  }