<div class="d-flex align-items-center min-vh-100 custom">
    <div class="container">
        <div class="row justify-content-around mt-5 mb-5 mx-1">
            <div class="box col-10 col-md-8 col-lg-6 col-xl-5 align-self-center">
                <form ngNativeValidate class="form-group" #reg="ngForm" (ngSubmit)="getAuthenticate(reg.value)">
                    <div>
                        <div class="sp">
                            <img  class="ico_l" src="/assets/img/logo.png" alt="image">
                        </div>
                        <h3>2-factor authorization</h3>
                        <hr />
                        <div #parent class="form-group mb-3">
                            <resend-box *ngIf='show'></resend-box>
                            <label for="name">Validation Code</label>
                            <input
                                type="text"
                                ngModel=''
                                name="validation_code"
                                placeholder="6-digit code"
                                class="form-control"
                                required
                            />
                        </div>
                    </div>
                    <div class="btn_container">
                        <button type="submit" class="btn btn-danger">Validate</button>
                    </div>
                </form>
                <div class="clearfix mt-4">
                    <p><svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-mail">
                        <path fill-rule="evenodd" d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z"></path>
                    </svg>
                    <small>We just sent your authentication code via email to {{userEmail}}. The code will expire at {{date_formated}} CEST.
                        <form class="inline-form" (ngSubmit)="reSendCode()" accept-charset="UTF-8" method="post">
                            <input type="hidden" name="authenticity_token" value="kV5mEp9rmhiX1P2bStGV/quTYGOPc7A6/SnkJqhz0iWqaXYSgcdtRY5I7KBJ+WtEFL/JZ/t6jfr4S8U3KXMTmg==">
                            <button type="submit" data-view-component="true" class="btn btn-link ml-0">
                                <span>Re-send the code</span>
                            </button>
                        </form>
                    </small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="outer center custom">
	<div class="inner box">
		<div class="sp">
			<img  class="ico_l" src="/assets/img/logo.png" alt="image">
		</div>
		<div class="sp">
			<h3>2-factor authorization</h3>
		</div> 
		<div class="sp">
			<p>
				2-Factor Code Verification <span class="email">{{user.email}}</span> Check your email
			</p>
		</div>
		<hr>
		
		
	</div>
</div> -->
