<!-- list games -->
<div class="cont vh-100">
    <div *ngIf='!isStreaming'>
        <div *ngFor='let game of games'>
            <h3>{{game.player1.nickname}}</h3>
            <h3>{{game.player2.nickname}} : {{game.player2.status}}</h3>
            <button (click)='startStreaming(game)'>watch game</button>
        </div>
    </div>
    <div *ngIf='isStreaming'>
        <h1>STREAMING</h1>
        <h3>{{streaming.player1.nickname}}</h3>
        <h3>{{streaming.player2.nickname}} : {{streaming.player2.status}}</h3>
        <button (click)='cancelStreaming()'>cancel</button>
    </div>
</div>