<div class="fill">
	<div class="row mx-0">
		<div class="col-2 left-container scrool">
			<div class="child">
				<div class="room-ctn">
						<button class="fa-btn" (click)="hideShowChannels()">
							<span class="fa fa-icon" [ngClass]="{'fa-caret-down' : showChannels, 'fa-caret-right' : !showChannels}"></span>
						</button>
						<p>Channels</p>
				</div>
				
				<div *ngIf="showChannels">
					<p class="item" *ngFor="let item of channs" (click)="setIndentifier('# ' + item)">
						<i class="fa fa-hashtag"></i> {{item}}
					</p>
				</div>

				<div class="mt-1">
					<button class="fa-btn">
						<span class="fa fa-plus fa-icon"> </span>
						<p>Add channel</p>
					</button>
			</div>
				
			</div>
			<div>
				<div class="room-ctn">
					<button class="fa-btn" (click)="hideShowDM()">
						<span class="fa fa-icon" [ngClass]="{'fa-caret-down' : showDM, 'fa-caret-right' : !showDM}"></span>
					</button>
					<p class="mb-1">Dirrect messages</p>
				</div>
				<div *ngIf="showDM">
					<div class="item" *ngFor="let item of directMsg" (click)="setIndentifier(item)">
						<img class="ico_xs img-fluid" src="/assets/img/logo.png" alt="image">
						{{item}}
					</div>
				</div>
				<div class="mt-1">
						<button class="fa-btn">
							<span class="fa fa-user-plus fa-icon"> </span>
							<p>Add friend to chat</p>
						</button>
				</div>
			</div>
		</div>
		<div class="col-10 right-container">
			<app-messaging *ngIf="identifier.length > 0" [identity]='identifier'></app-messaging>
			<div *ngIf="!identifier.length">
				<i><small > There is nothing to show. Please select channel or person to start chat.</small></i>
			</div>
		</div>
	</div>
	