<div class="bg-dark">
	<div class="d-flex flex-column text-white align-items-start min-vh-100 pt-3 pb-3 px-1" [ngClass]="{'align-items-center' : !item.showInfo}">
		<div class="parent">
			<div>
				<img src='{{item.userInfo.avatar}}' class="ico_m img-fluid rounded-circle px-2 ico" alt="">
			</div>
			<div *ngIf="item.showInfo">
				<p id="nickname">{{item.userInfo.nickname}}</p>
			</div>
		</div>
		<div id="sep"></div>
		<div class="parent" *ngFor="let user of onlineUsers">
			<div>
				<img src='{{user.avatar}}' class="ico_m img-fluid rounded-circle px-2 ico" alt="">
			</div>
			<div *ngIf="item.showInfo">
				<p id="nickname">{{user.nickname}}</p>
			</div>
		</div>
	</div>
</div>
