
.modal-header{
	padding: 0;
	border: none;
}
.close{
	margin: 2px;
	width: 25px;
	height: 25px;
	font-size: 30px;
	text-align: center;
	line-height: 25px;
	box-sizing: unset;
	outline: none;
	background: none;
	border-style: unset;
	color: #673D76;
	font-weight: 200;
}
.close:hover{
	font-weight: 400;
}
.separator{
	margin-left: 20px;
	margin-right: 20px;
}
.modal-body{
	padding: 20px;
	font-style: italic;
	color: #673D76;

}
.modal-footer{
	border: none;
}
.logout_btn
{
	background-color: #704380;
	border-color: #673D76;
	color: #ffffff;
	font-family: 'sportsjersey', 'arial', sans-serif;
	letter-spacing: 2px;
}
.logout_btn:hover
{
	box-shadow: 0px 15px 30px 0px #673D76, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-outline-secondary{
	border-color: #673D76;
	font-family: 'sportsjersey', 'arial', sans-serif;
	letter-spacing: 2px;
}
.btn-outline-secondary:hover{
	border-color: #673D76;
	color: #673D76;
	background-color: #ffffff;
	box-shadow: 0px 15px 30px 0px #673D76, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}