.ico {
  opacity: 0.2;
}
.ico:hover {
  cursor: pointer;
  opacity: 1;
}
#sep{
	border-bottom: 1px solid rgba(255, 255, 255, 0.671);
}
.selected{
	opacity: 1;
}
#sep{
	text-align: center;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.671);
}

.chat-container{
	position: relative;
	text-align: center;
	color: white;
}
.bottom-right {
	min-width: 20px;
	min-height: 20px;
	position: absolute;
	top: 16px;
	left: 8px;
	background-color: #9900ff;
	padding: 5px;
	border-radius: 50%;
	font-size: 8px;
  }


