.custom{
	bottom: 20%;
}
.box {
	background-color: white;
	width: 40%;
	height: auto;
	padding: 30px 35px 15px 35px;
    text-align: center;
	border: 2px solid #673D76;
	border-radius: 20px;
	box-shadow: 0px 15px 30px 0px #673D76, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 1;
}
h3{
	letter-spacing: 2px;
}
.sp{
	margin-bottom: 30px;
}
.email{
	color: #673D76;
	font-weight: 500;
}
p{
	color: #585858;
}
a{
	text-decoration: none;
}