<div class="d-flex justify-content-end p-3">
	<button class="btn btn-danger pull-right" (click)="logOut()">Logout</button>
</div>

<table class="table table-hover table-success">
	<thead>
	  <tr>
		<th scope="col">UserID</th>
		<th scope="col">FirstName</th>
		<th scope="col">LastName</th>
		<th scope="col">Username</th>
		<th scope="col">Email</th>
		<th scope="col">Role</th>
		<th scope="col">Token</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td>{{user.id}}</td>
		<td>{{user.firstName}}</td>
		<td>{{user.lastName}}</td>
		<td>{{user.username}}</td>
		<td>{{user.email}}</td>
		<td>{{user.role}}</td>
		<td>{{user.token}}</td>
	  </tr>
	 
	</tbody>
  </table>

  <div class="d-flex justify-content-end p-3">
	<button class="btn btn-danger pull-right" (click)="updateToken()">Refresh Now</button>
</div>
