
<div  *ngIf="room.imBanned" class="ban-msg text-danger"> 
	<div>
		<div class="d-flex justify-content-center">
			<span class="fa fa-ban fa-8x mb-5"></span>
		</div>
		<div class="d-flex justify-content-center">
			<i>You are {{directBanned ? 'blocked' : 'banned'}} in this room!</i>
		</div>
	</div>
</div>
<div class="main-ctn" [ngClass]="{'hide' : room.imBanned}">
	<div class='info row'>
		<div class="col-6 d-flex justify-content-start">
			<div class="dropdown show">
				<b class="ms-2 icon-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img *ngIf='room.img != undefined' class="ico_s img-fluid me-2" src="{{room.img}}" alt="image">				
					<i *ngIf="room.img == undefined && room.type == 'private'" class="fa fa-user-shield fa-color me-2"></i> 		
					<i *ngIf="room.img == undefined && room.type == 'public'" class="fa fa-broadcast-tower fa-color me-2"></i> 
					{{msgPreference.chat.active_room.name}}
					<div class="dropdown-menu scrool p-0" aria-labelledby="dropdownMenuLink">
					<div class="dropdown-item">
						<div class="ms-3 p-1">
							<div class="crown-ctn cut-text" [ngClass]="{'text-warning' : msgPreference.chat.active_room.me.login == room.ownerInfo.login}">
								<img class="ico_s img-fluid me-2" src="{{msgPreference.chat.active_room.me.avatar}}" alt="image">				
								<div class="crown">
									<span *ngIf="msgPreference.chat.active_room.me.login == room.ownerInfo.login" class="fa fa-crown"></span>
								</div>
								<h5 class="d-inline">{{msgPreference.chat.active_room.me.nickname}} </h5>

							</div>
						</div>
					</div>
					<div class="border-bottom border-light border-2"></div>
					<div class="dropdown-item" *ngFor="let item of msgPreference.chat.active_room.members;">
						<div class="row m-0 ms-2">
							<div class="col-7 cut-text" >
								<div class="crown-ctn cut-text" [ngClass]="{'text-warning' : item.login == room.ownerInfo.login}" (click)="openProfile(item)">
									<img class="ico_s img-fluid me-2" src="{{item.avatar}}" alt="image">	
									<div class="crown">
										<span *ngIf="item.login == room.ownerInfo.login" class="fa fa-crown"></span>
									</div>
									<h5 class="d-inline" >
										{{item.nickname}}
									</h5>
								</div>
							</div>
							<div class="col-5">
								<div class="h-100">
									<div class="row">
										<div class="col-3 offset-3">
											<span *ngIf="room.admin && room.ownerInfo.login != item.login" class="fa fa-user-secret fa-lg icon-btn" (click)="setAsAdmin(item)"></span>
										</div>
										<div class="col-3">
											<span *ngIf="room.admin && room.ownerInfo.login != item.login || room.type =='direct'" class="fa fa-volume-mute fa-lg icon-btn" (click)="muteUser(item)"></span>
										</div>
										<div class="col-3">
											<span *ngIf="(room.admin && room.ownerInfo.login != item.login) || room.type =='direct'" class="fa fa-ban fa-lg icon-btn" (click)="blockUser(item)"></span>
										</div>
									<!-- 	<div class="col-3">
											<span class="fa fa-id-badge fa-lg icon-btn" (click)="openProfile(item)"></span>
										</div> -->
										</div>
									</div>
							</div>
							</div>
						</div>
					</div>
				</b>
			</div>
		</div> 
		<div class="col-6 d-flex justify-content-end">
			<!-- <span class="fa fa-user-circle fa-lg icon-btn"></span>
			<span class="fa fa-user-times fa-lg icon-btn"></span>
			<span class="fa fa-table-tennis  fa-lg icon-btn"></span> -->
			<span *ngIf="room.owner || room.admin" class="fa fa-key fa-lg icon-btn" (click)="changePassword()" data-toggle="tooltip" title="Change password"></span>
			<span *ngIf="room.type != 'direct'" class="fa fa-user-plus fa-lg icon-btn" (click)="addMemberToChat()"></span>
			<span *ngIf="room.owner || room.admin" class="fa fa-cog fa-lg icon-btn"></span>
			<span class="fa fa-sign-out-alt fa-lg icon-btn" (click)="leaveChat()"></span>
			<span class="fa fa-times fa-lg icon-btn" (click)="closeRoom()"></span>
		</div> 
	</div>
	<div class='msg-list scrool' #scrollframe> 
		<div *ngFor="let item of messages;" class="msg-ctn" #scroolMsg>
			<div class="d-flex justify-content-start me" [ngClass]="{'other justify-content-end' : item.owner.nickname != msgPreference.userInfo.nickname}">
				<img class="ico_s img-fluid" src="{{item.owner.avatar}}" alt="image">
				<div>
					<div  class="msg" innerText={{item.message}}></div>
					<div class="time-stamp justify-content-start"><b>{{item.owner.nickname}}</b>{{item.timeStamp}}</div>
				</div>
			</div>
		</div>
		<div *ngIf='directBanned' class="d-flex justify-content-center text-danger">
			<i class="fa fa-ban">  You blocked this user</i>
		</div>
	</div>
	<div *ngIf='room.imMuted' class="d-flex justify-content-center"><i><small>You are muted in this room</small></i></div>
	<div *ngIf='!directBanned'class='msg-action row'> 
		<div class="col-11 ps-0 pe-0">
			<textarea *ngIf='!room.imMuted' type="text" [(ngModel)]="msg"></textarea>
		</div>
		<div *ngIf='!room.imMuted'class="col-1 btn-send" (click)="send()">
			<span class="fa fa-paper-plane fa-lg"></span>
		</div>
		<div *ngIf='room.imMuted' class="col-1 btn-muted">
			<span class="fa fa-volume-mute fa-lg"></span>
		</div>
	</div>
	
</div>