
<div  *ngIf="imBanned" class="ban-msg text-danger"> 
	<div>
		<div class="d-flex justify-content-center">
			<span class="fa fa-ban fa-8x mb-5"></span>
		</div>
		<div class="d-flex justify-content-center">
			<i>You are {{directBanned ? 'blocked' : 'banned'}} in this room!</i>
		</div>
	</div>
</div>
<div class="main-ctn" [ngClass]="{'hide' : imBanned}">
	<div class='info row'>
		<div class="col-6 d-flex justify-content-start">
			<div class="dropdown show">
				<img *ngIf='room.img != undefined' class="ico_s img-fluid me-2" src="{{room.img}}" alt="image">				
				<i *ngIf="room.img == undefined && room.type == 'private'" class="fa fa-user-shield fa-color me-2"></i> 		
				<i *ngIf="room.img == undefined && room.type == 'public'" class="fa fa-broadcast-tower fa-color me-2"></i> 
				<b>{{msgPreference.chat.active_room.name}}</b>
					<b class="ms-2 icon-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="dropdown-menu scrool" aria-labelledby="dropdownMenuLink">
						<div class="dropdown-item">
							<div class="border-bottom border-light ms-3 pb-2">
								<img class="ico_s img-fluid me-2" src="{{msgPreference.chat.active_room.me.avatar}}" alt="image">				
								<h5 class="d-inline text-light">{{msgPreference.chat.active_room.me.nickname}} </h5>
							</div>
						</div>
						<div class="dropdown-item" *ngFor="let item of msgPreference.chat.active_room.members;">
							<div class="row m-0 ms-2">
								<div class="col-7">
									<img class="ico_s img-fluid me-2" src="{{item.avatar}}" alt="image">	
									<h5 class="d-inline text-light">
										<span *ngIf="item.login == room.owner.login" class="fa fa-crown text-warning"></span>
										{{item.nickname}}
									</h5>
								</div>
								<div class="col-5">
									<div class="h-100 d-flex justify-content-center">
										
										<div *ngIf="room.admin && room.owner.login != item.login" class="d-flex justify-content-center">
											<span  class="fa fa-user-secret fa-lg icon-btn float-right m-auto" (click)="setAsAdmin(item)"></span>
											<span  class="fa fa-volume-mute fa-lg icon-btn float-right m-auto" (click)="muteUser(item)"></span>
											<span  class="fa fa-ban fa-lg icon-btn float-right m-auto" (click)="blockUser(item)"></span>
										</div>
										<div *ngIf="room.type == 'direct'">
											<span class="fa fa-volume-mute fa-lg icon-btn float-right m-auto" (click)="muteUser(item)"></span>
											<span class="fa fa-ban fa-lg icon-btn float-right m-auto" (click)="blockUser(item)"></span>
										</div>
										<span *ngIf="!isFriend(item)" class="fa fa-user-plus fa-lg icon-btn float-right m-auto" (click)="addFriendShip(item)"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</b>
			</div>
		</div> 
		<div class="col-6 d-flex justify-content-end">
			<!-- <span class="fa fa-user-circle fa-lg icon-btn"></span>
			<span class="fa fa-user-times fa-lg icon-btn"></span>
			<span class="fa fa-table-tennis  fa-lg icon-btn"></span> -->
			<span *ngIf="room.owner.login == room.me.login || room.admin" class="fa fa-key fa-lg icon-btn" (click)="changePassword()" data-toggle="tooltip" title="Change password"></span>
			<span *ngIf="room.type != 'direct'" class="fa fa-user-plus fa-lg icon-btn" (click)="addMemberToChat()"></span>
			<span *ngIf="room.owner.login == room.me.login || room.admin" class="fa fa-cog fa-lg icon-btn"></span>
			<span class="fa fa-sign-out-alt fa-lg icon-btn" (click)="leaveChat()"></span>
			<span class="fa fa-times fa-lg icon-btn" (click)="closeRoom()"></span>
		</div> 
	</div>
	<div class='msg-list scrool' #scrollframe> 
		<div *ngFor="let item of messages;" class="msg-ctn" #scroolMsg>
			<div class="d-flex justify-content-start me" [ngClass]="{'other justify-content-end' : item.owner.nickname != msgPreference.userInfo.nickname}">
				<img class="ico_s img-fluid" src="{{item.owner.avatar}}" alt="image">
				<div>
					<div  class="msg" innerText={{item.message}}></div>
					<div class="time-stamp justify-content-start"><b>{{item.owner.nickname}}</b>{{item.timeStamp}}</div>
				</div>
			</div>
		</div>
		<div *ngIf='directBanned' class="d-flex justify-content-center text-danger">
			<i class="fa fa-ban">  You blocked this user</i>
		</div>
	</div>
	<div *ngIf='imMuted' class="d-flex justify-content-center"><i><small>You are muted in this room</small></i></div>
	<div *ngIf='!directBanned'class='msg-action row'> 
		<div class="col-11 ps-0 pe-0">
			<textarea *ngIf='!imMuted' type="text" [(ngModel)]="msg"></textarea>
		</div>
		<div *ngIf='!imMuted'class="col-1 btn-send" (click)="send()">
			<span class="fa fa-paper-plane fa-lg"></span>
		</div>
		<div *ngIf='imMuted' class="col-1 btn-muted">
			<span class="fa fa-volume-mute fa-lg"></span>
		</div>
	</div>
	
</div>