<div class="bg-dark">
	<div class="d-flex flex-column align-items-center align-items-start text-white min-vh-100 pt-3 pb-3">
		<div id="logo">
			<img src="/assets/img/logo.png"class="ico ico_m img-fluid" alt="">
		</div>
		
		<img src="/assets/img/ico/play.png" class="ico ico_m img-fluid" alt="">
		<img src="/assets/img/ico/live.png" class="ico ico_m img-fluid" alt="">
		<img src="/assets/img/ico/settings.png" class="ico ico_m img-fluid" alt="">
		<div class="position-absolute bottom-0">
			<img src="/assets/img/ico/logout.png" class="ico ico_m img-fluid " (click)="logOut()" alt="">
		</div>
	</div>
</div>



