<div class="container">
    <form ngNativeValidate class="form-group" #set="ngForm" (ngSubmit)="onSubmitFriends()">
        <div>
            <h3>Friends</h3>
            <div class="form-group mb-3">
                <label for="searchUsers">Search Friends</label>
                <input
					#searchUsers
                    type="text"
                    name="searchUsers"
                    class="form-control"
					autocomplete="off"
                    required
                />
                <button type="submit" class="btn_register p-2 px-5 mt-4">Search</button>
        </div>
        </div>
        
    </form>
	<div class="parent" *ngFor="let user of users">
		<div>
			<img src='{{user.avatar}}' class="ico_s" alt="">
		</div>
		<div class="ms-5">
			<p>{{user.first_name}}</p>
		</div>
		<div class="ms-5">
			<p>{{user.last_name}}</p>
		</div>
		<div class="ms-5">
			<p>{{user.nickname}}</p>
		</div>
		<div class="ms-5">
			<button (click)="addFriendShip(user)">add</button>
		</div>
		<div class="ms-5">
			<button (click)="removeFriendShip(user)">Delete</button>
		</div>
	</div>
</div>

<app-friend-invitation [friendPreferneces]="dashboardPreference"></app-friend-invitation>
