<div class="modal-header">
	<h4 class="modal-title" id="modal-title">PONG LogOut</h4>
	<button type="button" class="mi" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
		x
	</button>
</div>
<div class="modal-body">
	<p><strong>Are you sure you want to logout?</strong></p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
	<button type="button" class="btn btn-danger" (click)="close('LogOut click')">LogOut</button>
</div>