.box {
	background-color: white;
	height: auto;
	padding: 35px 100px 35px 100px;
	border: 2px solid #673D76;
	border-radius: 20px;
	box-shadow: 0px 15px 30px 0px #673D76, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 1;
}

.btn_register
{
	background-color: #704380;
	font-size: 18px;
	color: #ffffff;
	border: 2px solid #673D76;
	border-radius: 25px;
	font-family: 'sportsjersey', 'arial', sans-serif;
	letter-spacing: 2px;
}
.btn_register:hover
{
	background-color: #673D76;
	color: #ffffff;
	border: 2px solid #673D76;
	box-shadow: 0px 15px 30px 0px #673D76, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3{
	color: #673D76;
	text-align: center;
}
label{
	text-align: left;
	color: #673D76;

}

input{
	margin-left: 0px;
	margin-top: 2px;
	border-color: #673D76;
}
input[readonly]{
	background-color: #f6e3ff;
}
.btn_container{
	text-align: center;
}
.form-check-input{
	border: 1px solid #673D76;
	box-shadow: 0px 0px 0px 0px;
}
.form-check-input:checked[type=checkbox] {
	background-color: #673D76;
	box-shadow: 0;
}