
<main>
	<div class="d-flex align-items-center min-vh-100">
		<div class="container">
			<div class="row justify-content-around mt-5 mb-5 mx-1">
				<div class="box col-10 col-md-8 col-lg-6 col-xl-5 align-self-center">
					<form ngNativeValidate class="form-group" #reg="ngForm" (ngSubmit)="onSubmitRegister(reg.value)">
						<div>
							<h3>Registration</h3>
							<hr />
							<div class="form-group mb-3">
								<label for="name">First Name</label>
								<input
									type="text"
									ngModel={{user.first_name}}
									name="first_name"
									class="form-control"
									readonly
									required
								/>
							</div>
							<div class="form-group mb-3">
								<label for="last_name">Last Name</label>
								<input
									type="text"
									ngModel={{user.last_name}}
									name="last_name"
									class="form-control"
									readonly
									required
								/>
							</div>
							<div class="form-group mb-3">
								<label for="login">42 Login</label>
								<input
									type="text"
									ngModel = {{user.login}}
									name="login"
									class="form-control"
									readonly
									required
								/>
							</div>
							<div class="form-group mb-3">
								<label for="nickname">Nickname*</label>
									<input 
										#nickname_input
										ngModel={{nickname}}
										name="nickname"
										type="text"
										placeholder = "Select your nickname"
										minlength="5"
										class="form-control"
										required
									/>
								<div class="form-check mt-2 d-flex align-items-center">
									<input type="checkbox" class="form-check-input me-2" (change)="nicknameCheckbox($event)">
									<label class="form-check-label" for="nickname_check"><small><i>Use 42 Login</i></small></label>
								</div>
							</div>
							<div class="form-group mb-3">
								<label for="email">Email Address*</label>
								<input
									#email_input
									ngModel={{email}}
									name="email"
									type="email"
									placeholder="Select your email*"
									class="form-control"
									aria-describedby="emailHelp"
									required
		
								/>
								<div class="form-check mt-2 d-flex align-items-center">
									<input type="checkbox" class="form-check-input me-2" (change)="emailCheckbox($event)">
									<label class="form-check-label" for="email_check"><small><i>Use 42 Email</i></small></label>
								</div>
								
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<div class="form-group mb-3">
								<div class="form-check mt-2 d-flex align-items-center">
									<input
									#factor_input
									name="factor"
									type="checkbox"
									class="form-check-input me-2"
									(change)="factorCheckbox($event)"
								/>
								<label class="form-check-label" for="factor"><small><i>Enable 2-factor authentication</i></small></label>
								</div>
								
							</div>					
						</div>
						<div class="btn_container">
							<button type="submit" class="btn_register p-2 px-5 mt-4">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="box">
		<div class="container">
			<form ngNativeValidate class="form-group" #reg="ngForm" (ngSubmit)="onSubmitRegister(reg.value)">
				<div>
					<h3>Registration</h3>
					<hr />
					<div class="form-group mb-3">
						<label for="name">First Name</label>
						<input
							type="text"
							ngModel={{user.first_name}}
							name="first_name"
							class="form-control"
							readonly
							required
						/>
					</div>
					<div class="form-group mb-3">
						<label for="last_name">Last Name</label>
						<input
							type="text"
							ngModel={{user.last_name}}
							name="last_name"
							class="form-control"
							readonly
							required
						/>
					</div>
					<div class="form-group mb-3">
						<label for="login">42 Login</label>
						<input
							type="text"
							ngModel = {{user.login}}
							name="login"
							class="form-control"
							readonly
							required
						/>
					</div>
					<div class="form-group mb-3">
						<label for="nickname">Nickname*</label>
							<input 
								#nickname_input
								ngModel={{nickname}}
								name="nickname"
								type="text"
								placeholder = "Select your nickname"
								minlength="5"
								class="form-control"
								required
							/>
						<div class="form-check mt-2 d-flex align-items-center">
							<input type="checkbox" class="form-check-input me-2" (change)="checkboxChange($event)">
							<label class="form-check-label" for="nickname_check"><small><i>Use 42 Login</i></small></label>
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="exampleInputEmail1">Email Address</label>
						<input
							type="email"
							class="form-control"
							aria-describedby="emailHelp"
							ngModel = "{{user.email}}"
							name="emaiil"
							readonly
							required

						/>
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
					<div class="form-group mb-3">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
					
				</div>
				<div class="btn_container">
					<button type="submit" class="btn_register p-2 px-5 mt-4">Register</button>
				</div>
			</form>
		  </div>
	</div>
</div>
 -->

<!--- <p>registration works!</p>
<button (click)='getRegistered()'>Register Me</button> --->