.center {
	position: fixed;
	bottom: 35%;
	left: 0;
	width: 100%;
	text-align: center;
}
.outer {
	position: fixed;
	text-align: center;
	left: 0;
	right: 0;
}
.inner {
	display: inline-block;
}
.img {
	width: 250px;
	height: auto;
}

.login_btn
{
	background-color: #704380;
	padding: 10px 35px;
	font-size: 18px;
	color: #ffffff;
	border: 2px solid #673D76;
	border-radius: 25px;
	margin-top: 50px;
	font-family: 'sportsjersey', 'arial', sans-serif;
	letter-spacing: 2px;
}
.login_btn:hover
{
	background-color: #673D76;
	color: #ffffff;
	border: 2px solid #673D76;
	box-shadow: 0px 15px 30px 0px #673D76, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}