<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
        <img  class="logo" src="/assets/img/logo.png" alt="image">
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
					<button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
						{{user.nickname}}
					</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" (click)="updateToken()">Refresh Now</a>
							<a class="dropdown-item btn-logout">Settings</a>
							<a class="dropdown-item btn-logout" (click)="logOut()">Logout</a>
							<a class="dropdown-item btn-danger" (click)="deleteAccount()">Delete Account</a>
						</div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
	<table class="table table-hover table-success">
		<thead>
		<tr>
			<th scope="col">UserID</th>
			<th scope="col">FirstName</th>
			<th scope="col">LastName</th>
			<th scope="col">Username</th>
			<th scope="col">Email</th>
			<th scope="col">Role</th>
			<th scope="col">Token</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>{{user.id}}</td>
			<td>{{user.first_name}}</td>
			<td>{{user.last_name}}</td>
			<td>{{user.nickname}}</td>
			<td>{{user.email}}</td>
			<td>{{user.role}}</td>
			<td>{{user.uuid}}</td>
		</tr>
		</tbody>
	</table>
</div>