.btn
{
  background-color: rgb(188, 74, 241);
}

.btn-danger {
  color: rgb(209, 13, 13);
}

.logo {
  width: 2.5%;
  height: 2.5%;
}
.btn-danger{
  background-color: red;
}
app-right-nav, app-left-nav{
	padding: 0;
	width: 5%;
}
app-content{
	padding: 0;
	width: 90%;
}