<div class="d-flex justify-content-end close-ctn">
	<b id="close" class="fa fa-times py-2 me-3" (click)="cancel(true)"></b>
</div>
<div class="border rounded-bottom border-secondary">
	<!-- Title -->
	<div class="title">
		<div class="w-100 py-3 d-flex justify-content-center">
			<div>
				<div class="w-100 d-flex justify-content-center">
					<h5 *ngIf="type != 'protected'">Add {{type}}</h5>
					<h5 *ngIf="type == 'protected'">
						<i *ngIf="room.type == 'public'" class="fa fa-broadcast-tower channel-fa pe-2"></i> 
						<i *ngIf="room.type == 'private'" class="fa fa-user-shield channel-fa pe-2"></i> 

						{{room.name}}
					</h5>
				</div>
				<div class="w-100 d-flex justify-content-center px-3">
					<small class="text-center">
						<i *ngIf="type == 'channel'">You can search for channel and join it or create your own</i>
						<i *ngIf="type == 'friend'">You can search for other users and start chat, send a friendship invitation or dare to play pong</i>
						<i *ngIf="type == 'member'">You can search for users to add them to chat room</i>
						<i *ngIf="type == 'protected'">This room is protected with password</i>
					</small>		
				</div>

			</div>
		</div>
	</div>
	<div *ngIf="statusMsg.message != undefined" class="d-flex justify-content-center msg-box py-2" [ngClass]="{'msg-error-box' : statusMsg.isError}">
		{{statusMsg.message}}
	</div>
	<!-- Search & add toolbar -->
	<div class="input-group pb-3 mt-3">
		<div class="container">
			<div class="d-flex justify-content-center">
			 	<div class="searchbar mx-2">
					<input #searchUsers [(ngModel)]="search" class="search_input" type="text" name="" placeholder="Search {{type}}..." [ngClass]="{'hide' : type == 'protected'}">
					<input *ngIf="type == 'protected'" [(ngModel)]="password" class="search_input" type="password" name="" placeholder="Enter password...">
					<span *ngIf="type != 'protected'" class="search_icon"><i class="fas fa-search" (click)=onSubmitFriends()></i></span>
					<span *ngIf="type == 'protected'" class="search_icon"><i class="fas fa-key" (click)=onJoinProtectedRoom()></i></span>
				</div>
				<div *ngIf="type != 'member' && type != 'protected'"  class="searchbar d-flex justify-content-center mx-2">
					<span class="add_icon"><i class="fas fa-plus" (click)='openForm()'></i></span>
				</div>
			</div>
		</div>
	</div>
	<!-- List results of search channels or friends -->
	<div *ngIf='searchResult.length > 0 && !showForm' class="scrool pb-3">
		<div class="ms-2 pt-2 search-results" *ngFor='let item of searchResult'>
			<!-- friend -->
			<div *ngIf='!isChannel()' class="border-bottom border-light">
				<div class="row  item-ctn" >
					<div class="col-9 profile" (click)="openProfile(item)">
						<img class="ico_s img-fluid me-2" src="{{item.avatar}}" alt="image">	
						<h5 class="d-inline me-5">{{item.nickname}}</h5>
					</div>
					<div class="col-3">
						<div class="h-100 d-flex justify-content-center">
							<span *ngIf="type == 'friend'" class="fa fa-comment-dots  fa-lg icon-btn float-right" style="margin: auto;" data-toggle="tooltip" title="chat with this user" (click)="startChat(item)"></span>
							<span *ngIf="type == 'friend' && isNotFriend(item)" class="fa fa-user-plus fa-lg icon-btn float-right" style="margin: auto;" data-toggle="tooltip" title="Start a friendship" (click)="addFriendShip(item)"></span>
							<span *ngIf="type == 'friend'" class="fa fa-table-tennis  fa-lg icon-btn float-right" style="margin: auto;" data-toggle="tooltip" title="Request to play pong" (click)="playPong(item)"></span>
							<span *ngIf="type == 'member'" class="fa fa-plus  fa-lg icon-btn float-right" style="margin: auto;" data-toggle="tooltip" title="add to members chat" (click)="addMemberToChat(item)"></span>
						</div>
					</div>
				</div>
			</div>
			<!-- Channel -->
			<div *ngIf='isChannel()' class="w-100 border-bottom border-light">
				<div class="row item-ctn">
					<div class="col-9">
						<span *ngIf="item.type == 'public'" class="fa fa-broadcast-tower channel-fa"></span>
						<span *ngIf="item.type == 'private'" class="fa fa-user-shield channel-fa"></span>
						<h5 class="d-inline me-5">{{item.name}}</h5>
						<span *ngIf="item.protected" class="fa fa-lock text-danger"></span>
					</div>
					<div class="col-3">
						<div class="h-100 d-flex justify-content-center">
							<span class="fa fa-sign-in-alt  fa-lg icon-btn float-right" style="margin: auto;" (click)="joinRoom(item)"></span>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</div>
	<!-- Create new Channel -->
	<div *ngIf="showForm" class="form w-100">
		<div class="my-2 w-100 p-3">
			<input [(ngModel)]='channelName' class="w-100 mb-3 p-2" type="text" name="" placeholder="Channel name...">
			<select class="form-select form-select-sm mb-3 p-2" aria-label=".form-select-sm example" (change)="selectType($event.target)"required>
				<option disabled selected value> -- Select an option -- </option>
				<option value="public">Public</option>
				<option value="private">Private</option>
			</select>
			<div class="form-check form-switch mb-3">
				<input [(ngModel)]="addPassword" class="form-check-input" type="checkbox" (change)="passCheckBox()" value="{{addPassword}}">
				<label class="form-check-label" for="flexSwitchCheckDefault">{{addPassword ? 'Protected' : 'Unprotected'}}</label>
			</div>
			<div *ngIf="addPassword">
				<input [(ngModel)]="password" class="w-100 mb-3 p-2" type="password" name="" placeholder="Select password...">
				<input [(ngModel)]="repassword" class="w-100 mb-3 p-2" type="password" name="" placeholder="Repeat password...">
			</div>
		</div>
		<div class="w-100 d-flex justify-content-end pe-3 pb-3">
			<button class="save-btn mx-2" (click)=save()>Save</button>
			<button class="cancel-btn mx-2" (click)="cancel(false)">Cancel</button>
		</div>
	</div>

	
</div>