<div class="cont vh-100">

	<div *ngIf="playPreference.game != undefined && playPreference.game.ready" >
		<h1>GAME IN PROGRESS </h1>
		<app-game></app-game>
		<h3>{{playPreference.game.player1.nickname}} : {{playPreference.game.player1.status}}</h3>
		<h3>{{playPreference.game.player2.nickname}} : {{playPreference.game.player2.status}}</h3>
		<p>There is {{playPreference.game.viewers.length}} waching this game</p>
		<button (click)="cancelGame()">Cancel game</button>
	</div>
	<div *ngIf="playPreference.game == undefined || !playPreference.game.ready">
		<h1>NO GAME IN PROGRESS</h1>
	</div>
</div>

