.cont{
	background-color: #92a1c0;
}
#quick-play-ctn{
	position: relative;
	width: 100%;
	height: 100vh;
	text-align: center;
}

#quick-play-content{
	position: absolute;
	width: 80%;
	left: 50%;
	top: 20%;
	-webkit-transform: translate(-50%, -20%);
	transform: translate(-50%, -20%);
	text-align: center;
}


#quick-play{
	width: 250px;
	height: 60px;
	margin: auto;
	margin-top: 16px;
}
.info-ctn{
	color: #ffffff;
	padding: 20px;
	background-color: #727e96;
	border-radius: 10px;

}
.play{
	width: 100%;
	height: 100%;
	padding: 10px 15px 10px 15px;
	color: #ffffff;
	text-shadow: 2px 2px #1f5500;
	border-radius: 4px;
	font-size: 18px;
    background: linear-gradient(90deg, #3ba000, #a7cc92, #3ba000);
}
.waiting {
	background: none;
	width: 100%;
	height: 100%;
	padding: 10px 15px 10px 15px;
	color: #ffffff;
	text-shadow: 2px 2px #a12100;
	border-radius: 4px;
	font-size: 18px;
    background: linear-gradient(90deg, #ff4415, #faa590, #ff4415);
    background-size: 200% 200%;
	-webkit-animation: Animation 2s ease infinite;
    -moz-animation: Animation 2s ease infinite;
    animation: Animation 2s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

#oponent{
	-webkit-animation:spin 1.5s linear infinite;
	-moz-animation:spin 1.5s linear infinite;
	animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }