<!-- <div class="cont vh-100">
	<div *ngIf="playPreference.game != undefined && playPreference.game.ready" >
		<app-game class="ms-3 " [prefs]="playPreference" (sndWinner)="rcvWinner($event)"></app-game>
	</div>
	<div *ngIf="playPreference.game == undefined || !playPreference.game.ready">
	
		<div id="quick-play-ctn" class="d-flex justify-content-center bg-danger">	
			<div  id="quick-play">
				<div *ngIf="waiting" class="row mb-2">
					<div class="col-5">
						<img src="{{playPreference.userInfo.avatar}}" class="img img-fluid ico_m" alt="">
					</div>
					<div class="col-2"> <h3 style="line-height: 80px;">vs</h3></div>
					<div class="col-5">
						<img src="/assets/img/logo.png" class="img img-fluid ico_m" id="oponent" alt="">
					</div>
				</div>
				<button  (click)='matchMaking()' [ngClass]="{'waiting' : waiting, 'play' : !waiting}">{{btnTxt}}</button>
				<i><small class="mt-3">Online users: 500</small></i>
			</div>
		</div>
	</div>
</div> -->

<div class="cont vh-100">
	<div *ngIf="playPreference.game != undefined && playPreference.game.ready" >
		<app-game class="ms-3 " [prefs]="playPreference" (sndWinner)="rcvWinner($event)"></app-game>
	</div>
	<div *ngIf="playPreference.game == undefined || !playPreference.game.ready">
	
		<div id="quick-play-ctn">	
			<div id="quick-play-content" >
				<div class="info-ctn">
					<h4 class="text-light border-bottom">Available Modes</h4>
					<div class="row">
						<div class="col">
							<p class="mb-1">Clasic Mode</p>
							<img src="/assets/img/play_modes/Clasic.png" style="width: 200px; height: auto;" alt="">
							<div>
								<small><i><span>Like a good old pong game</span></i></small>
							</div>
						</div>
						<div class="col">
							<p class="mb-1">Power Mode</p>
							<img src="/assets/img/play_modes/Power.png" style="width: 200px; height: auto;" alt="">
							<div>
								<small><i><span>Both player's have 3 power shots per game (press space to fire)</span></i></small>
							</div>
						</div>
						<div class="col">
							<p class="mb-1">Angle Mode</p>
							<img src="/assets/img/play_modes/Angle.png" style="width: 200px; height: auto;" alt="">
							<div>
								<small><i><span>Enters with a known angle and exits with an unknown angle</span></i></small>
							</div>
						</div>
					</div>
				</div>
				<div  id="quick-play">
					<div *ngIf="waiting" class="row mb-2">
						<div class="col-5">
							<img src="{{playPreference.userInfo.avatar}}" class="img img-fluid ico_m" alt="">
						</div>
						<div class="col-2"> <h3 style="line-height: 80px;">vs</h3></div>
						<div class="col-5">
							<img src="/assets/img/logo.png" class="img img-fluid ico_m" id="oponent" alt="">
						</div>
					</div>
					<button  (click)='matchMaking()' [ngClass]="{'waiting' : waiting, 'play' : !waiting}">{{btnTxt}}</button>
					<i><small class="mt-3">Online users: {{infoSystem.online_users}}</small></i><br>
					<i><small class="mt-3">In game users: {{infoSystem.in_game_users}}</small></i><br>
				</div>
			</div>
		</div>
	</div>
</div>

