/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: sportsjersey;
	src: url(assets/fonts/omegle/sportsjersey.ttf	) format("opentype");
  }
body{
	background: url("./assets/img/bg.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
main{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;  
}
.logo {
	width: 75px;
	height: auto;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 35px;
	padding-right: 35px;
}
.ico_s{
	width: 50px;
	height: auto;
}
.ico_m{
	width: 75px;
	height: auto;
}
.ico_l{
	width: 150px;
	height: auto;
}
.ico_xl{
	width: 250px;
	height: auto;
}

.center {
	position: fixed;
	bottom: 35%;
	left: 0;
	width: 100%;
	text-align: center;
}
.outer {
	position: fixed;
	text-align: center;
	left: 0;
	right: 0;
}
.inner {
	display: inline-block;
}
