<app-loading *ngIf='!isLoaded'></app-loading>

<main *ngIf="isLoaded">
	<div class="d-flex align-items-center min-vh-100">
		<div class="container text-center">
			<div class="row justify-content-around mt-5 mb-5 mx-1">
				<div class="box col-10 col-md-8 col-lg-6 col-xl-5 align-self-center">
					<div class="text-center">
						<img class="ico_l img-fluid" src="/assets/img/logo.png" alt="image">
					</div>
					<div class="separator mt-3 mb-3">Confirmation</div>
					<p *ngIf="status == 200">
						We have sent email to <span class="email">{{email}}</span> to confirm the validity of your account. 
						After receiving the email follow the link provided to complete your registration.
						<b>You have to confirm your account in next 24 hours</b>
					</p>
					<p *ngIf="status != 200">
						{{errorMsg}}
					</p>
					<div class="separator mt-3 mb-3"></div>
					<span *ngIf="status == 200" class="d-flex justify-content-center mt-3"><small>If you didn't receive any email <br><i (click)="resend()">Resend confirmation email</i></small></span>
					<span *ngIf="status == 403" class="d-flex justify-content-center mt-3"><small> <br><i (click)="resend()">Resend confirmation email</i></small></span>
					<span *ngIf="status == 410" class="d-flex justify-content-center mt-3"><small><i (click)="signUp()">Sign Up</i></small></span>
				</div>
			</div>
		</div>
	</div>
</main>
