
#sep{
	text-align: center;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.671);
}
.parent{
	margin-top: 10px;
	margin-bottom: 10px;
}
.parent>div{
	display: inline-block;
}
#nickname{
	font-size: large;
}
#name{
	font-size: medium;
}
.rand{
	background-color: white;
}
.offline{
	opacity: 0.3;
}
@keyframes grow {
	from {color: #222B3C; font-size: 0px;}
  	to {color: #f38a00; font-size: 18px;}
}
.anim{
	margin-left: 2px;
	animation: grow 1.5s;
	animation-iteration-count: infinite;
}
.notification{
	height: 20px;
	color: #ffaa3a;
	font-size: 18px;
}
.friend-item:hover{
	cursor: pointer;
	border-left: 3px solid #ffffff;
	background-color: #ffffff3b;
}
