.ico {
  opacity: 0.2;
}
.ico:hover {
  cursor: pointer;
  opacity: 1;
}
#sep{
	border-bottom: 1px solid rgba(255, 255, 255, 0.671);
}
.selected{
	opacity: 1;
}
#sep{
	text-align: center;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.671);
}


