
		<div class="min-vh-100 min-vw-95" style="background-color: teal;">
			<div >
				<p> HERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTEDHERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTEDHERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTED HERE COMES ANY FRAGMENT SELECTED </p>
			</div>
		</div>
